.backend-mainbg{background-color:#f9f9f9!important; padding:50px !important}
.menutops{margin-bottom:2px!important; margin-top:0px!important;}
.portlet.box.gray-gray{box-shadow:none!important;}
.leadtit {
border-bottom: 1px solid #ccc!important;}
.dataTables_filter{float:right;}
.paging_simple_numbers{float:right;}
.tablhead{background-color: #26344B;color: #fff;}
.even{background-color: #eee;}